<div id="wrapper">
  <header class="container" id="header">
    <div class="d-flex justify-content-center fade-out-up">
      <img id="MyHeadShot"  src="../assets/mee.jpg" alt="MyHeadShot" width="400" hight="400">
    </div>
    <div class="d-flex justify-content-center row">
      <img id="MySignature"  src="../assets/signature.png" alt="MySignature">
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="#AboutMe"><img id="AboutMepng" class="img-fluid" src="../assets/aboutme.png" alt="About Me"></a>
      </div>
      <div class="col-md-3">
        <a href="#Skills"><img id="Skillspng" class="img-fluid" src="../assets/skills.png" alt="My Skills"></a>
      </div>
      <div class="col-md-3">
        <a href="#Work"><img id="Workpng" class="img-fluid" src="../assets/work.png" alt="My Work"></a>
      </div>
      <div class="col-md-3">
        <a href="#Contact"><img id="Skillspng" class="img-fluid" src="../assets/contact.png" alt="Contact me"></a>
      </div>
    </div>

  </header>
  <body id="ContentBody" class="container">
    
    <section id="AboutMe" class="row section" >
      <div class="col-sm-12 col-md-6">
        <img id="AboutMepng" src="../assets/aboutme.png" alt="About Me">
      </div>
      <div class="col-sm-12 col-md-6">
        <h4 class="top-padding">
          Full stack web developer from the Oregon Institute of Technology with front-end 
          development training and full stack experiences. Looking to establish a career 
          in the web development space to further my portfolio of projects and perfect my specialty.
        </h4>
      </div>
    </section>
    <section id="Skills" class="row section">
      <div class="col-sm-12 col-md-6">
        <img id="Skillspng" src="../assets/skills.png" alt="My Skills">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="top-padding">
          <h4>Development Practices, Source Control, and Infostructure:</h4>
          <p>Agile, SCRUM, Jira, Git, TFS, Google Cloud Plateform, Firebase, Docker. </p>
          <h4>Frameworks and Languages:</h4>
          <p>.NET 5 & 6, Angular, Node.js, C#, C/C++, Javascript/ts</p>
          <h4>Databases:</h4>
          <p>Microsoft SQL server, Google Bigquery, Google Firestore, SQLite</p>
        </div>
      </div>
      <div class="col-md-12">
        <img src="../assets/skill_logos.png" alt="logogs">
      </div>
    </section>
    <section id="Work" class="row section">
      <div class="col-sm-12 col-md-6 offset-md-3 row low-height">
        <img id="Workpng" src="../assets/work.png" alt="My Work">
      </div>
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <app-work-card 
            frameUrl="../assets/2016Flowjo3.jpg"
            title="Flow Jo"
            body="During my time at FlowJo I worked closely with the SQE team testing our application and ensuring a quality build line."
            ></app-work-card>
          </div>
          <div class="carousel-item">
            <app-work-card
            frameUrl="../assets/calendar.png"
            title="CSET Schedulers"
            body="During my junior year at the Oregon Institute of Technology, myself and three others teamed up to build a scheduling app
            for our department."
            ></app-work-card>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </section>
    <section id="Contact" class="row section">
      <div class="col-sm-12 col-md-6">
        <img id="Skillspng" src="../assets/contact.png" alt="Contact me">
      </div>
      <div id="Socials" class="col-sm-12 col-md-6">
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/ellybelden/" target="_blank" rel="noopener noreferrer"></a>
          <a class="fa fa-github" href="https://github.com/CelesteBelden" target="_blank" rel="noopener noreferrer"></a>
          <a class="fa fa-facebook" href="https://www.facebook.com/Celeste.Belden.19/" target="_blank" rel="noopener noreferrer"></a>
      </div>
      <div class="row fixed-bottom">
        <div class="offset-md-11 col-md-1">
          <a href="#header"><img class="img-fluid" src="../assets/backtotop.png" alt="Back To Top"></a>
        </div>
      </div>
    </section>
  </body>
</div>